*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

/* navabar start  */
#nav{
    height: 100px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    padding: 0 150px;
    position: fixed;
    gap: 50px;
    justify-content: flex-start;
}

#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}