*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

#cursor{
    width: 20px;
    height: 20px;
    background-color: #91B508;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    width: 400px;
    height: 400px;
    background-color: #96c1132b;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}

/* navabar start  */
#nav{
    height: 110px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    position: fixed;
    gap: 50px;
    justify-content: flex-start;
    z-index: 99;
}

#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
/* video  */
video{
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    position: fixed;
}
/* main section  */
#main{
   position: relative;
   background-color: rgb(0,0,0, 0.327);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px #91B508;
    z-index: -1;
}


#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}

#page2{
   min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller-in{
     display: inline-block;
     white-space: nowrap;
     animation-name: scroll;
     animation-duration: 30s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;

}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar{
    display: none;
}


#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #91B508;
}

#scroller h4:hover{
    color: #91B508;
}

/* keyframes  */
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* about-us  */
#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
}
#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 50%;
    text-align: center;
}
#about-us-in h3{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 30px;
}
#about-us-in p{
    font-size: 20px;
    line-height: 26px;
}

/* cards-container */
#cards-container{
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}
.card{
    height: 80%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1); 
}
#card2{
   background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-768x768.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3{
   background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-768x511.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #91B508;
    padding: 30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.6s;

}

.overlay h4{
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap; 
    margin-bottom: 20px;
    font-weight: 800;
}
.overlay p{
    color: #000;
    font-size: 18px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}

/* green-div  */
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background: linear-gradient(to left bottom, #39A931,#A5D521);
}
#green-div h4{
    width: 45%;
    line-height: 50px;
    color: #000;
    text-align: center;
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
}
#green-div img{
   height: 100%;
   object-fit: cover;
   width: 14%;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3 p{
   font-size: 30px;
   font-weight: 700;
   width: 55%;
   line-height: 45px;
   text-align: center;
}

#page3 img {
   height: 15px;
   position: absolute;
}

